<!DOCTYPE html>
<html>

<!--
    * Last Updated: 06/07/2019
    * Author: Gerald Downey
-->

<head>
    <title>Help Me!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery-3.3.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.responsive.min.js"></script>
    <script src="./js/responsive.bootstrap.min.js"></script>
    <script src="./js/dataTables.bootstrap.min.js"></script>
    <script src="./js/moment-with-locales.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/animate.css">
    <link rel="stylesheet" type="text/css" href="./css/dreamscape.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/responsive.bootstrap.min.css">
    <link rel="icon" href="./images/weather-icon.png">
</head>

<body>

    {{> header }}

    <div id="main-content" class="container main-content">
        <h1>{{ title }}</h1>
    </div>

    {{> footer }}

</body>

</html>