<div id="footer" class="jumbotron text-center footer">
    {{!-- <img id="logo" class="animated jackInTheBox" src="./../images/weather.png" /> --}}

    <svg xmlns="http://www.w3.org/2000/svg" width="228.66" height="164.819" viewBox="0 0 60.5 43.608">
        <g fill="#fff" stroke="#ccc" stroke-width="2">
            <path
                d="M38.368 68.643c4.599-16.218 23.224-10.943 24.363-3.84 16.03-2.49 12.469 22.662-4.1 15.373-.518 2.272-9.263 6.422-14.235-.13-10.077 8.14-19.947-8.813-6.028-11.403zM62.73 64.802c-1.841.2-5.34 1.595-5.895 3.794M38.368 68.643c2.245-.045 2.94.77 3.514 1.654"
                transform="matrix(.86038 0 0 .88228 -24.624 -36.479)" />
        </g>
        <path
            d="M46.646 21.45a10.662 10.271 0 0 1-10.583 10.346A10.662 10.271 0 0 1 25.323 21.6a10.662 10.271 0 0 1 10.58-10.348 10.662 10.271 0 0 1 10.743 10.192"
            fill="#ff0" stroke="#fd5" stroke-width="2.224" stroke-linecap="round" />
        <g fill="#fff" stroke="#ccc" stroke-width="2">
            <path
                d="M38.368 68.643c4.599-16.218 23.224-10.943 24.363-3.84 16.03-2.49 12.469 22.662-4.1 15.373-.518 2.272-9.263 6.422-14.235-.13-10.077 8.14-19.947-8.813-6.028-11.403zM62.73 64.802c-1.841.2-5.34 1.595-5.895 3.794M38.368 68.643c2.245-.045 2.94.77 3.514 1.654"
                transform="matrix(.86038 0 0 .88228 -24.624 -36.479)" />
        </g>
        <path
            d="M29.663 8.483l-2.579-5.739M35.53 7.774L35.467 5M41.252 8.692l2.763-6.282M46.066 11.341l2.425-1.762M49.463 15.79l6.852-2.878M50.876 21.172l3.031-.18M49.845 26.279l6.641 2.95M46.411 30.744l2.354 2.096M41.382 33.903l2.982 6.352M25.406 11.988l-2.452-1.297"
            fill="none" stroke="#fd5" stroke-width="2.647" stroke-linecap="round" />
    </svg>

    <p class="dev-title animated slideInRight">Created By: {{ creator }}</p>
</div>