<div id="footer" class="jumbotron text-center footer">
    {{!-- <img id="logo" class="animated jackInTheBox" src="./../images/weather.png" /> --}}

    <svg xmlns="http://www.w3.org/2000/svg" width="143.828" height="103.671" viewBox="0 0 38.054 27.43">
        <g fill="#fff" stroke="#ccc" stroke-width="2">
            <path
                d="M38.368 68.643c4.599-16.218 23.224-10.943 24.363-3.84 16.03-2.49 12.469 22.662-4.1 15.373-.518 2.272-9.263 6.422-14.235-.13-10.077 8.14-19.947-8.813-6.028-11.403zM62.73 64.802c-1.841.2-5.34 1.595-5.895 3.794M38.368 68.643c2.245-.045 2.94.77 3.514 1.654"
                transform="matrix(.54962 0 0 .56361 -15.953 -23.184)" />
        </g>
        <path
            d="M29.576 13.822a6.811 6.562 0 0 1-6.761 6.608 6.811 6.562 0 0 1-6.861-6.512 6.811 6.562 0 0 1 6.759-6.61 6.811 6.562 0 0 1 6.863 6.51"
            fill="#ff0" stroke="#fd5" stroke-width="1.421" stroke-linecap="round" />
        <g fill="#fff" stroke="#ccc" stroke-width="2">
            <path
                d="M38.368 68.643c4.599-16.218 23.224-10.943 24.363-3.84 16.03-2.49 12.469 22.662-4.1 15.373-.518 2.272-9.263 6.422-14.235-.13-10.077 8.14-19.947-8.813-6.028-11.403zM62.73 64.802c-1.841.2-5.34 1.595-5.895 3.794M38.368 68.643c2.245-.045 2.94.77 3.514 1.654"
                transform="matrix(.54962 0 0 .56361 -15.953 -23.184)" />
        </g>
        <path
            d="M18.727 5.538l-1.648-3.666M22.475 5.085l-.041-1.771M26.13 5.671l1.765-4.013M29.205 7.364l1.55-1.126M31.375 10.205l4.377-1.838M32.277 13.644l1.937-.115M31.62 16.906l4.242 1.885M29.426 19.759l1.503 1.338M26.213 21.777l1.905 4.057M16.007 7.777l-1.566-.829"
            fill="none" stroke="#fd5" stroke-width="1.691" stroke-linecap="round" />
    </svg>

    <p class="dev-title animated slideInRight">Created By: {{ creator }}</p>
</div>