<div id="footer" class="jumbotron text-center footer">
    <img id="logo" class="animated jackInTheBox" src="./../images/weather.png" /><br><br><br>
    <p class="dev-title animated slideInRight">Created By: {{ creator }}</p>
</div>