<nav id="navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./index.html">
                <img id="top-logo" class="animated slideInLeft" src="./../images/weather.png" />
            </a>
            <p class="dev-title animated slideInRight"></p>
        </div>
        <ul class="nav navbar-nav">
            <li class="nced-link"><a href="/" id="home-link"><i class="material-icons home-icon">home</i></a>
            </li>
            <li class="dev-link"><a href="/about">About</a></li>
            <li class="dev-link"><a href="/help">Help</a></li>
            <li class="dev-link"><a href="/weather">Weather</a></li>
        </ul>
        <div id="time">
            <script>
                document.write(moment().format('llll'))
            </script>
        </div>
    </div>
</nav>