@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/material-icons/MaterialIcons-Regular.eot");
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("../fonts/material-icons/MaterialIcons-Regular.woff2") format("woff2"),
    url("../fonts/material-icons/MaterialIcons-Regular.woff") format("woff"),
    url("../fonts/material-icons/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand Med";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Quicksand Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Quicksand-Bold.ttf");
}

/* Button CSS */

#generate-button {
  border: 2px solid #2ecc71;
  color: #2ecc71;
  font-size: 15px;
  font-family: "Quicksand Bold";
  letter-spacing: 2px;
  position: relative;
  left: 10px;
}

#generate-button:hover {
  color: white;
  transition: 500ms;
}

.btn:not(last-child) {
  margin-right: 1em;
}

.btn {
  color: #fff;
  background-color: transparent;
  outline: 0;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.btn-square {
  border: 0;
}

.btn-round {
  border: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.btn-lg {
  padding: 10px 37.5px 10px 37.5px;
  font-size: 1.2em;
}

.btn-md {
  padding: 7.5px 30px 7.5px 30px;
  font-size: 1em;
}

.btn-sm {
  padding: 6px 22.5px 6px 22.5px;
  font-size: 0.8em;
}

.btn-filled-green {
  background-color: #2ecc71;
}
.btn-filled-green:hover {
  background-color: #25a25a;
}
.btn-filled-green:active {
  -moz-box-shadow: inset 0 0 100px #1b7943;
  -webkit-box-shadow: inset 0 0 100px #1b7943;
  box-shadow: inset 0 0 100px #1b7943;
}

.btn-filled-blue {
  background-color: #3498db;
}
.btn-filled-blue:hover {
  background-color: #217dbb;
}
.btn-filled-blue:active {
  -moz-box-shadow: inset 0 0 100px #196090;
  -webkit-box-shadow: inset 0 0 100px #196090;
  box-shadow: inset 0 0 100px #196090;
}

.btn-filled-red {
  background-color: #e74c3c;
}
.btn-filled-red:hover {
  background-color: #d62c1a;
}
.btn-filled-red:active {
  -moz-box-shadow: inset 0 0 100px #a82315;
  -webkit-box-shadow: inset 0 0 100px #a82315;
  box-shadow: inset 0 0 100px #a82315;
}

.btn-filled-orange {
  background-color: #e67e22;
}
.btn-filled-orange:hover {
  background-color: #bf6516;
}
.btn-filled-orange:active {
  -moz-box-shadow: inset 0 0 100px #924d10;
  -webkit-box-shadow: inset 0 0 100px #924d10;
  box-shadow: inset 0 0 100px #924d10;
}

.btn-filled-yellow {
  background-color: #f1c40f;
}
.btn-filled-yellow:hover {
  background-color: #c29d0b;
}
.btn-filled-yellow:active {
  -moz-box-shadow: inset 0 0 100px #927608;
  -webkit-box-shadow: inset 0 0 100px #927608;
  box-shadow: inset 0 0 100px #927608;
}

.btn-filled-grey {
  background-color: #7f8c8d;
}
.btn-filled-grey:hover {
  background-color: #667273;
}
.btn-filled-grey:active {
  -moz-box-shadow: inset 0 0 100px #4e5758;
  -webkit-box-shadow: inset 0 0 100px #4e5758;
  box-shadow: inset 0 0 100px #4e5758;
}

.btn-ghost-green {
  border: 2px solid #2ecc71;
}
.btn-ghost-green:hover {
  background-color: #2ecc71;
}
.btn-ghost-green:active {
  background-color: #25a25a;
}

.btn-ghost-blue {
  border: 2px solid #3498db;
}
.btn-ghost-blue:hover {
  background-color: #3498db;
}
.btn-ghost-blue:active {
  background-color: #217dbb;
}

.btn-ghost-red {
  border: 2px solid #e74c3c;
}
.btn-ghost-red:hover {
  background-color: #e74c3c;
}
.btn-ghost-red:active {
  background-color: #d62c1a;
}

.btn-ghost-orange {
  border: 2px solid #e67e22;
}
.btn-ghost-orange:hover {
  background-color: #e67e22;
}
.btn-ghost-orange:active {
  background-color: #bf6516;
}

.btn-ghost-yellow {
  border: 2px solid #f1c40f;
}
.btn-ghost-yellow:hover {
  background-color: #f1c40f;
}
.btn-ghost-yellow:active {
  background-color: #c29d0b;
}

.btn-ghost-grey {
  border: 2px solid #7f8c8d;
}
.btn-ghost-grey:hover {
  background-color: #7f8c8d;
}
.btn-ghost-grey:active {
  background-color: #667273;
}

.btn {
  color: #fff;
  background-color: transparent;
  outline: 0;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  font-family: "Ubuntu", sans-serif;
}

.btn-square {
  border: 0;
}

.btn-round {
  border: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.btn-lg {
  padding: 10px 37.5px 10px 37.5px;
  font-size: 1.2em;
}

.btn-md {
  padding: 7.5px 30px 7.5px 30px;
  font-size: 1em;
}

.btn-sm {
  padding: 6px 22.5px 6px 22.5px;
  font-size: 0.8em;
}

.btn-filled-green {
  background-color: #2ecc71;
}
.btn-filled-green:hover {
  background-color: #25a25a;
}
.btn-filled-green:active {
  -moz-box-shadow: inset 0 0 100px #1b7943;
  -webkit-box-shadow: inset 0 0 100px #1b7943;
  box-shadow: inset 0 0 100px #1b7943;
}

.btn-filled-blue {
  background-color: #3498db;
}
.btn-filled-blue:hover {
  background-color: #217dbb;
}
.btn-filled-blue:active {
  -moz-box-shadow: inset 0 0 100px #196090;
  -webkit-box-shadow: inset 0 0 100px #196090;
  box-shadow: inset 0 0 100px #196090;
}

.btn-filled-red {
  background-color: #e74c3c;
}
.btn-filled-red:hover {
  background-color: #d62c1a;
}
.btn-filled-red:active {
  -moz-box-shadow: inset 0 0 100px #a82315;
  -webkit-box-shadow: inset 0 0 100px #a82315;
  box-shadow: inset 0 0 100px #a82315;
}

.btn-filled-orange {
  background-color: #e67e22;
}
.btn-filled-orange:hover {
  background-color: #bf6516;
}
.btn-filled-orange:active {
  -moz-box-shadow: inset 0 0 100px #924d10;
  -webkit-box-shadow: inset 0 0 100px #924d10;
  box-shadow: inset 0 0 100px #924d10;
}

.btn-filled-yellow {
  background-color: #f1c40f;
}
.btn-filled-yellow:hover {
  background-color: #c29d0b;
}
.btn-filled-yellow:active {
  -moz-box-shadow: inset 0 0 100px #927608;
  -webkit-box-shadow: inset 0 0 100px #927608;
  box-shadow: inset 0 0 100px #927608;
}

.btn-filled-grey {
  background-color: #7f8c8d;
}
.btn-filled-grey:hover {
  background-color: #667273;
}
.btn-filled-grey:active {
  -moz-box-shadow: inset 0 0 100px #4e5758;
  -webkit-box-shadow: inset 0 0 100px #4e5758;
  box-shadow: inset 0 0 100px #4e5758;
}

.btn-ghost-green {
  border: 2px solid #2ecc71;
}
.btn-ghost-green:hover {
  background-color: #2ecc71;
}
.btn-ghost-green:active {
  background-color: #25a25a;
}

.btn-ghost-blue {
  border: 2px solid #3498db;
}
.btn-ghost-blue:hover {
  background-color: #3498db;
}
.btn-ghost-blue:active {
  background-color: #217dbb;
}

.btn-ghost-red {
  border: 2px solid #e74c3c;
}
.btn-ghost-red:hover {
  background-color: #e74c3c;
}
.btn-ghost-red:active {
  background-color: #d62c1a;
}

.btn-ghost-orange {
  border: 2px solid #e67e22;
}
.btn-ghost-orange:hover {
  background-color: #e67e22;
}
.btn-ghost-orange:active {
  background-color: #bf6516;
}

.btn-ghost-yellow {
  border: 2px solid #f1c40f;
}
.btn-ghost-yellow:hover {
  background-color: #f1c40f;
}
.btn-ghost-yellow:active {
  background-color: #c29d0b;
}

.btn-ghost-grey {
  border: 2px solid #7f8c8d;
}
.btn-ghost-grey:hover {
  background-color: #7f8c8d;
}
.btn-ghost-grey:active {
  background-color: #667273;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-6 {
  width: 50%;
  float: left;
  min-height: 1px;
}

.col-12 {
  width: 100%;
  min-height: 1px;
  text-align: center;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

#generate-button:focus {
  outline: 0 !important;
}

/* End Button CSS */

body {
  font-family: "Quicksand" !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-icon {
  position: relative;
  bottom: 3px;
}

::placeholder {
  color: #646767;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #646767;
}

::-ms-input-placeholder {
  color: #646767;
}

.navbar-default .navbar-nav > li > a {
  color: #646767 !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: black !important;
  transition: 500ms;
}

.navbar-default {
  background-color: #cbe2f7 !important;
  border-color: #92d8f5 !important;
}

.footer {
  bottom: 0;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 0 !important;
  background-color: #cbe2f7 !important;
  border: 1px solid #92d8f5 !important;
  margin-top: 50px;
}

img#logo {
  width: 5%;
  margin-bottom: -35px;
  margin-left: 20px;
}

img#top-logo {
  width: 65%;
  position: relative;
  bottom: 10px;
}

.navbar-default {
  font-family: "Quicksand Med";
}

.navbar-brand {
  width: 165px;
}

.quicksand {
  font-family: "Quicksand";
}

.search {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
  width: 35%;
  letter-spacing: 1px;
  border: 1px solid #646767;
}

li.dev-link a {
  font-weight: bold;
  font-size: 15px !important;
  font-family: "Quicksand";
}

li.dev-link a:hover {
  color: rgb(0, 194, 255) !important;
  text-shadow: 1px 1px 5px rgb(230, 230, 230);
  font-weight: bold;
}

.users-icon {
  position: relative;
  top: 7px;
  right: 8px;
}

div#time {
  position: relative;
  float: right;
  top: 15px;
  left: 5px;
  color: #646767;
  font-family: "Quicksand Bold";
  letter-spacing: 1px;
}

#last_edit {
  font-family: "Quicksand";
  font-size: medium;
}

label,
a,
li,
input input-sm,
td {
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Quicksand";
}

.dev-title {
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
  font-family: "Quicksand Med";
  color: #646767;
}

.dev-paragraph {
  letter-spacing: 1px;
  text-align: left;
  font-size: 17px;
  font-family: "Quicksand Med";
  color: #646767;
}

.main-content {
  margin-top: 3%;
  flex-grow: 1;
}

.dev-normal-paragraph {
  font-style: normal;
  letter-spacing: 0.5px;
  font-family: "Quicksand";
}

.dev-header {
  letter-spacing: 0.5px;
  font-family: "Quicksand";
  font-weight: bold;
  margin-left: 1%;
  height: 250px;
}

.dev-form {
  height: 150px;
}

.dev-emphasis {
  font-size: 18px;
  letter-spacing: 0.7px;
  font-style: oblique;
  font-family: "Quicksand";
  font-weight: bold;
}

.dev-list li {
  font-style: normal;
  letter-spacing: 0.5px;
  font-family: "Quicksand";
}

a.dev-info-link:hover {
  color: rgb(29, 222, 18);
  font-size: 17px !important;
  text-decoration: none !important;
}

a.dev-info-link:visited {
  color: red;
}

.dev-info-link {
  font-weight: bold;
  text-decoration: none !important;
  cursor: pointer;
}

.loading-text {
  border: none;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: "Quicksand";
  font-weight: bold;
  display: none;
  margin-top: 100px;
}

.big-title {
  font-size: 40px;
  font-family: "Quicksand Bold";
  color: #646767;
}

.error-text {
  letter-spacing: 1px;
  font-size: 17px;
  font-family: "Quicksand Bold";
  color: red;
}

.loading-wrapper {
  height: 120px;
}

.button-bar {
  position: relative;
  top: 100%;
}

.left-column {
  border-right: 1.5px solid rgb(177, 175, 175);
}

.dev-header-icon {
  position: relative;
  top: 4px;
}

p.caption {
  position: relative;
  bottom: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 95%;
  font-size: 17px;
  font-family: "Quicksand";
  font-weight: bold;
  letter-spacing: 1px;
}

.dev-mini-title {
  font-size: 18px;
  font-family: "Quicksand";
  font-weight: bold;
  letter-spacing: 1px;
}

.dev-center {
  text-align: center;
}

.dev-info-div {
  margin-top: 50px;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 5;
}

.sticky + .container {
  padding-top: 60px;
}

#welcome_text {
  font-weight: 600;
}

.dev-padded-sides-lg {
  padding: 10px 40px;
}

.dev-mt-2 {
  margin-top: 20px;
}

.dev-mt-100 {
  margin-top: 100px;
}

#hamburger {
  display: none;
  width: 35px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  background: transparent;
  border-radius: 5px;
}

#hamburger span {
  height: 2px;
  background: rgb(141, 142, 142);
  margin: 5px;
  display: block;
}

@media only screen and (max-width: 680px) {
  img#logo {
    width: 25vw;
  }
  .nav.navbar-nav {
    height: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    background: transparent;
    z-index: 10;
    box-shadow: 4px 4px 16px;
  }

  div#time {
    display: none;
  }

  #hamburger {
    display: block;
  }
}

#hamburger span {
  transition: all 0.3s;
}

.hamburger-active span {
  position: relative;
}

.hamburger-active .top {
  top: 10px;
  transform: rotate(45deg);
  background: rgb(214, 40, 46) !important;
}

.hamburger-active .middle {
  transition: all 0.1s;
  opacity: 0;
}

.hamburger-active .bottom {
  top: -4px;
  transform: rotate(-45deg);
  background: rgb(214, 40, 46) !important;
}

.nav > li {
  background-color: #cbe2f7;
  max-height: 45px !important;
}

#cloud {
  stroke-dasharray: 123;
  animation: cloud-float 2.5s 1;
  animation-timing-function: ease-out;
  transition: 300ms all;
}

.rays {
  stroke-dasharray: 52;
  animation: ray-shine 20s infinite, ray-rotate 30s infinite;
  animation-timing-function: ease-in;
  transition: 300ms all;
}

@keyframes cloud-float {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ray-rotate {
  0% {
    transform-origin: 60% center;
    -webkit-transform: rotate(360deg);
  }
  100% {
    transform-origin: 60% center;
    -webkit-transform: rotate(0deg);
  }
}

@keyframes ray-shine {
  100% {
    stroke-dashoffset: 10;
  }
  90% {
    stroke-dashoffset: 5;
  }
  80% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 20;
  }
  60% {
    stroke-dashoffset: 40;
  }
  50% {
    stroke-dashoffset: 52;
  }
  40% {
    stroke-dashoffset: 40;
  }
  30% {
    stroke-dashoffset: 20;
  }
  20% {
    stroke-dashoffset: 0;
  }
  10% {
    stroke-dashoffset: 5;
  }
  0% {
    stroke-dashoffset: 10;
  }
}
